@font-face
	font-family ou
	font-style normal
	src url('./fonts/ou.otf')

.bg_image
	width 1020px
	height auto
	position absolute
	left -15px
	img
		width 1020px
		height auto
.preview
	.paginator
		width 1000px
		margin 0 auto
		padding 10px
		margin-bottom 10px
	.page.padding
		padding-top 60px
	.page
		// overflow hidden
		.page_footer
			padding 10px 60px
			position absolute
			bottom 10px
			width 100%
			.number
				font-family ou
				.desc
					margin-right 20px
