.one_small_page
  .up_smart_index 银联智惠商业智能数据分析报告指标清单
  .black_title 一.城市概览部分
  .form_list.clearfix
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 银行卡总量分析
        li  
          input(name='city' type='checkbox')  
          | 消费银行卡卡等级分析
        li  
          input(name='city' type='checkbox')  
          | 月消费总额分析
        li  
          input(name='city' type='checkbox')  
          | 月刷卡量分析
        li  
          input(name='city' type='checkbox')  
          | 月卡均消费额分析
        li  
          input(name='city' type='checkbox')  
          | 各行业消费总额占比分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 各消费频次区间的刷卡量分析
        li  
          input(name='city' type='checkbox')  
          | 各消费金额区间的刷卡量分析
        li  
          input(name='city' type='checkbox')  
          | 城市消费能力指数
        li  
          input(name='city' type='checkbox')  
          | 银行卡总量对比分析
        li  
          input(name='city' type='checkbox')  
          | 百货行业消费总额对比分析
  .form_list.clearfix
    .black_title 二.行业概览部分
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 月刷卡金额对比分析
        li  
          input(name='city' type='checkbox')  
          | 月刷卡量对比分析
        li  
          input(name='city' type='checkbox')  
          | 月均客单价对比分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 各商圈当月刷卡金额对比分析 *
        li  
          input(name='city' type='checkbox')  
          | 各商圈当月刷卡量对比分析 *
        li  
          input(name='city' type='checkbox')  
          | 各商圈月均客单价对比分析 *
  .form_list.clearfix
    .black_title 三.商户经营分析部分
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 每季度交易额分析
        li  
          input(name='city' type='checkbox')  
          | 每季度交易量分析
        li  
          input(name='city' type='checkbox')  
          | 季均客单价波动分析
        li  
          input(name='city' type='checkbox')  
          | 每月交易额分析
        li  
          input(name='city' type='checkbox')  
          | 每月交易量分析
        li  
          input(name='city' type='checkbox')  
          | 月均客单价波动分析
        li  
          input(name='city' type='checkbox')  
          | 每周交易额分析
        li  
          input(name='city' type='checkbox')  
          | 每周交易量分析
        li  
          input(name='city' type='checkbox')  
          | 周均客单价波动分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 每日平均交易金额分析
        li  
          input(name='city' type='checkbox')  
          | 每日平均交易量分析
        li  
          input(name='city' type='checkbox')  
          | 日均客单价波动分析
        li  
          input(name='city' type='checkbox')  
          | 各类目商品每日消费金额统计 **
        li  
          input(name='city' type='checkbox')  
          | 各类目商品每日消费次数统计 **
        li  
          input(name='city' type='checkbox')  
          | 各类目商品每日客单价统计 **
        li  
          input(name='city' type='checkbox')  
          | 各类目消费性别分析 **
        li  
          input(name='city' type='checkbox')  
          | 各类目消费年龄分析 **
  .form_list.clearfix
    .black_title 四.消费特征分析部分
    ul.circular
      li 
      .list_word 客户基本特征分析：
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 客户性别占比情况分析
        li  
          input(name='city' type='checkbox')  
          | 客户消费能力分析
        li  
          input(name='city' type='checkbox')  
          | 卡等级分布情况分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 本地客户消费占比分析
        li  
          input(name='city' type='checkbox')  
          | 人均月支出对比统计分析
        li  
          input(name='city' type='checkbox')  
          | 人均月消费笔数对比分析
    ul.circular
      li 
      .list_word 新、老客户分析:
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 新、老客户人数对比分析
        li  
          input(name='city' type='checkbox')  
          | 老客户的购买频次分析
        li  
          input(name='city' type='checkbox')  
          | 新、老客户月总消费支出对比分析
        li  
          input(name='city' type='checkbox')  
          | 新、老客户月消费金额对比分析
        li  
          input(name='city' type='checkbox')  
          | 新、老客户月刷卡量对比分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 新、老客户月客单价对比分析
        li  
          input(name='city' type='checkbox')  
          | 新、老客户中外地客户来源占比分析
        li  
          input(name='city' type='checkbox')  
          | 新、老客户中本地、外地客户对比分析
        li  
          input(name='city' type='checkbox')  
          | 新客户消费商品类目分布分析 **
        li  
          input(name='city' type='checkbox')  
          | 老客户消费商品类目分布分析 **
    ul.circular
      li 
      .list_word 沉默客户分析:
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 沉默、老客户人数对比分析
        li  
          input(name='city' type='checkbox')  
          | 沉默客户购买频次分析
        li  
          input(name='city' type='checkbox')  
          | 沉默、老客户每月人均支出对比分析
        li  
          input(name='city' type='checkbox')  
          | 沉默客户在同行业其他商户的人均月消费金额分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 沉默客户在同行业其他商户的人均月刷卡量分析
        li  
          input(name='city' type='checkbox')  
          | 沉默客户中外地客户来源占比分析
        li  
          input(name='city' type='checkbox')  
          | 沉默客户中本地、外地客户对比分析
        li  
          input(name='city' type='checkbox')  
          | 沉默客户消费商品类目分布分析 **
    