.one_small_page
  .up_smart_index 银联智惠商业智能数据分析报告指标清单
  .black_title 一.城市概览部分
  form.left.form-wx
    ul
      li
        input(name='city' type='checkbox')
        | 银行卡总量分析
      li
        input(name='city' type='checkbox')
        | 消费银行卡卡等级分析
      li
        input(name='city' type='checkbox')
        | 月消费总额分析
      li
        input(name='city' type='checkbox')
        | 月刷卡量分析
      li
        input(name='city' type='checkbox')
        | 月卡均消费额分析
      li
        input(name='city' type='checkbox')
        | 各行业消费总额占比分析
  form.right.form-wx
    ul
      li
        input(name='city' type='checkbox')
        | 各消费频次区间的刷卡量分析
      li
        input(name='city' type='checkbox')
        | 各消费金额区间的刷卡量分析
      li
        input(name='city' type='checkbox')
        | 城市消费能力指数
      li
        input(name='city' type='checkbox')
        | 银行卡总量对比分析
      li
        input(name='city' type='checkbox')
        | 百货行业消费总额对比分析

