.one_small_page
  .form_list.clearfix
      ul.circular
        li 
        .list_word 流失客户分析:
      form.left
        ul
          li  
            input(name='city' type='checkbox')  
            | 流失、老客户人数对比分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户购买频次分析
          li  
            input(name='city' type='checkbox')  
            | 流失、老客户每月人均消费支出对比分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户在同行业其他商户的月消费金额分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户在同行业其他商户的月刷卡量分析
      form.right
        ul
          li  
            input(name='city' type='checkbox')  
            | 流失客户在同行业其他商户的人均月消费金额分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户在同行业其他商户的人均月刷卡量分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户中外地客户来源占比分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户中本地、外地客户对比分析
          li  
            input(name='city' type='checkbox')  
            | 流失客户消费商品类目分布分析 **
  .black_title 五.营销效果分析部分 ***
  .form_list.clearfix
    form.left
      ul
        li  
          input(name='city' type='checkbox')  
          | 每日交易金额分析
        li  
          input(name='city' type='checkbox')  
          | 每日交易量分析
        li  
          input(name='city' type='checkbox')  
          | 每日交易客单价分析
    form.right
      ul
        li  
          input(name='city' type='checkbox')  
          | 各时点交易金额分析
        li  
          input(name='city' type='checkbox')  
          | 各时点交易量分析
        li  
          input(name='city' type='checkbox')  
          | 各时点交易客单价分析
  .explain_important.clearfix 
    p 特别说明: 带 * 的指标目前仅覆盖部分地区,带 ** 的指标需要商户提供相关数据,
    p &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 带 
     | *** 的指标仅向使用银联智惠营销推广或监测服务的商户提供。