.half_small_page
  .black_fine_line_top
    .square_green
    .people_definition 人群定义：
  .main_people
    p 老客户: &nbsp;前五个月内在目标商户有过至少一笔消费的客户
    p 沉默客户: &nbsp;近三个月内在目标商户没有任何消费的老客户
    p 流失客户: &nbsp;近五个月内在目标商户没有任何消费的老客户
    p 新客户: &nbsp;前五个月内在目标商户无任何消费，但当月有过
    p  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;至少一笔消费的客户
  .people_images
    img(src='assets/images/people.png')
  .people_example.left
    p 以统计10月份的老、沉默、流失、新客户为例:
    p 老客户:5,6,7,8,9月有消费
    p 沉默客户:5,6,7月有消费,8,9,10无消费
  .people_example.right
    p 流失客户:5月有消费,6,7,8,9,10无消费
    p 新客户:5,6,7,8,9月无消费,10月有消费