include ./helper
.one_small_page
	unless no_line
		.black_fine_line_top
	.subtitle_page
		span= ine.index_in_chapter
		| ã€
		span= ine.name
	.main_content
		+indicators_desc(ine)
	.analysis_word.one_bottom
		+analysis_word(ine)
	.analysis_image.one
		if ine.charts[0]
			img(src=ine.charts[0].url)
	.analysis_image.tow
		if ine.charts[1]
			img(src=ine.charts[1].url)