.half_small_page
	unless no_line
		.black_fine_line_top
	.subtitle_page
		span= ine.index_in_chapter
		| 、
		span= ine.name
	.main_content
		p
			| 指标定义：
			a.editable(href="#" data-type="text" data-pk="1" data-url="/post" data-title="修改指标定义")
				= ine.def_desc
		p
			| 计算方法：
			a.editable(href="#" data-type="text" data-pk="2" data-url="/post" data-title="修改计算方法")
				= ine.calc_desc
	.analysis_word.bottom
		| 特征分析：
		a.editable(href="#" data-type="textarea" data-pk="1" data-url="/post" data-title="修改特征分析")
			= ine.feature
	.analysis_image_bottom
		img(src='assets/images/c10.png')