include ./helper
.half_small_page
	unless no_line
		.black_fine_line_top
	.subtitle_page
		span= ine.index_in_chapter
		| ã€
		span= ine.name
	.main_content
		+indicators_desc(ine)
	.analysis_word.bottom
		+analysis_word(ine)
	.analysis_image_bottom
		each c in ine.charts
			img(src=c.url)