.half_page
	.black_line_top
	.city_block_green
		.city_title 消费特征分析
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 4,report_id: report_id} data-title="修改内容")
				| 使用银联智惠的客户画像模拟器对目标客户的消费行为进行建模，通过历史交易行为找出目标客户的交易共性特征，从而完整地从消费性别、消费年龄、消费习惯、消费频率、消费偏好等多维度描述客户群的轮廓，并得出客户的上下游关联交易行为特征，让商户真正认知客户群体的全貌，从而进行有效的商业决策。