.half_page
	.black_line_top
	.city_block_yello
		.city_title 城市概览
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 1,report_id: report_id} data-title="修改内容")
				| 城市概览部分主要针对城市月刷卡金额、刷卡量等宏观指标进行分析,使客户对所在城市的消费情况有整体的认知。

