.half_page
	.black_line_top
	.city_block_blue
		.city_title_right 商户经营分析
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 3,report_id: report_id} data-title="修改内容")
				| 商户经营情况分析部分主要从商户自身的经营情况入手，通过月刷卡金额、刷卡量、客单价等微观指标进行分析；同时，结合商户提供的商品品类与mid、posid的对应关系，为商户提供全方位的经营情况分析。