.half_page
	.black_line_top
	.city_block_blue
		.city_title_right 商户经营分析
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 3,report_id: report_id} data-title="修改内容")
				= item.desc