.half_page
	.black_line_top
	.city_block_orange
		.city_title_right 行业概览
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 2,report_id: report_id} data-title="修改内容")
				| 行业概览部分通过对目标商户所在行业的月刷卡金额、刷卡量、客单价等指标进行分析，使客户对所处行业的消费情况有整体的了解。同时，增加目标商户与行业消费情况的对比，提供商户准确定位自身在行业所处地位的分析依据。
