.half_page
	.black_line_top
	.city_block_yello
		.city_title 城市概览
		.city_main
			a.editable(href="#" data-type="textarea" data-name="header" data-pk={chapter_id: 1,report_id: report_id} data-title="修改内容")
				= item.desc

