mixin selector(chapter)
	select.form-control(name="chapter_#{chapter}[]")
		option(value="-1") 无
		option(value="0") 首页头部
		case chapter
			when 1
				option(value="1") 银行卡总量分析
				option(value="2") 消费银行卡卡等级分析
				option(value="3") 月消费总额分析
				option(value="4") 月刷卡量分析
				option(value="5") 各行业消费总额占比分析
				option(value="6") 各消费频次区间的刷卡量分析
				option(value="7") 各消费金额区间的刷卡量分析
			when 2
				option(value="8") 月刷卡金额对比分析
				option(value="9") 月均客单价对比分析
			when 3
				option(value="10") 每月交易额分析
				option(value="11") 月均客单价波动分析
				option(value="12") 每周交易额分析
				option(value="13") 周均客单价波动分析
				option(value="14") 每日平均交易金额分析
				option(value="15") 每日平均交易量分析
			when 4
				option(value="16") 客户消费能力分析
				option(value="17") 卡等级分布情况分析
				option(value="18") 新、老客户人数对比分析
				option(value="19") 老客户的购买频次分析
				option(value="20") 新、老客户中外地客户来源占比分析
				option(value="21") 新、老客户中本地、外地客户对比分析
				option(value="22") 新、老客户月总消费支出对比分析
				option(value="23") 沉默、老客户人数对比分析
				option(value="24") 流失、老客户人数对比分析
				option(value="25") 流失客户在同行业其他商户的月消费金额分析
				option(value="26") 流失客户在同行业其他商户的月刷卡量分析
li.form-group.clearfix
	.col-md-1
		span.label.label-info
			= "page " + count
	.col-md-5
		+selector(chapter)
	.col-md-5
		+selector(chapter)
	.col-md-1
		span.btn.btn-danger.remove
			i.glyphicon.glyphicon-remove