header.navbar.navbar-fixed-top.navbar-default
	.container
		.navbar-header
			a.navbar-brand(href="#")
				| Bi-report
section.list
	.form-group.clearfix
		a.pull-right.btn.btn-default(href="#new") 新建查询
	table.table
		tr
			th 商户名称
			th 城市
			th 指标个数
			th 提交时间
			th 完成状态
			th
			th
			th
			th
	.paginator
		!= paginator