.page
	.unionpay_logo
		img(src='assets/images/unionpay_logo.png')
	.start_report
		img(src='assets/images/start_report.png')
	.shop_name= merchant_name
	.bg_image_page1.bg_image
		img(src='assets/images/bg_image_page1.png')