.page
	.catalog 目录
	.catalog_main
		ul.list_name
			li 一、城市概览
			li 二、行业概览
			li 三、商户经营情况分析
			li 四、消费者特征分析
		ul.lest_number
			each i in index_numbers
				li= i
	.bg_image_page3.bg_image
		img(src='assets/images/bg_image_page3.png')