mixin header_tag(item,report_id)
	case item.theme_id
		when 1
			include segments/header1
		when 2
			include segments/header2
		when 3
			include segments/header3
		when 4
			include segments/header4
mixin indicators_tag(ine,no_line,i)
	case ine.theme_id
		when 1
			include segments/chart1
		when 2
			include segments/chart2
		when 3
			include segments/chart3
		when 4
			include segments/chart4
mixin page_footer(pg)
	.page_footer.clearfix
		if pg%2 === 0
			.pull-left.number= pg
		else
			.pull-right.number
				span.desc 银联智惠商业智能数据报告
				span= pg

include page1
include page2
include page3
each item,i in pages
	.page.break_before(class= item.index ? [] : ["padding"])
		if item.index
			+header_tag(item,id)
		if item.index && item.theme_id === 4
			include segments/chart5
		else
			each ine,i in item.indicators
				+indicators_tag(ine,item.index,i)
		+page_footer(item.page + 1)
.page.break_before.padding
	include segments/chart6
	+page_footer(pages.length + 2)
.page.break_before.padding
	include segments/chart7
	+page_footer(pages.length + 3)
include page4
.generate_btn
	span.btn.btn-primary.btn-lg.goGen 生成PDF